<h1>Search for GIFs</ht>
<form action="/">
    <input type="text" name="term" value="{{term}}">  <!-- the value="term" bit makes the search term stay-->
    <button type="submit">Search</button>
</form>

{{#each gifs}}
  <img src="{{this.images.fixed_height.url}}">
{{/each}}
