<h1>Search for GIFs</ht>
<form action="/">
    <input type="text" name="term">
    <button type="submit">Search</button>
</form>

{{#each gifs}}
  <img src="{{this.images.fixed_height.url}}">
{{/each}}
